.bg{
    background-image: url(img/beach.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}
body{
    overflow: hidden;
}
.dialoge{
    min-height: 15vh;
    max-height: 15vh;
}
.btn:active{
    transform: scale(0.98);
}
.location,.btn{
    text-transform: capitalize;
}
.poisoned{
    max-height: 3vh;
}
.transition{
    background-color: black;
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
}