.bg{
    background-image: url(img/beach.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}
body{
    overflow: hidden;
}
.dialoge{
    min-height: 15vh;
    max-height: 15vh;
}
.btn:active{
    transform: scale(0.98);
}
.location,.travel-btn{
    text-transform: capitalize;
}